@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common CSS */
* {
  font-family: "Inter", sans-serif;
}
img,
video {
  width: auto;
  height: auto;
}

.boss-container {
  @apply container mx-auto my-8 lg:my-14;
}
.boss-heading-subtext {
  @apply text-[#D99904] text-sm lg:text-xl text-center mb-4;
}
.boss-heading {
  @apply text-2xl lg:text-[40px] text-center border-t-2 border-b-2 py-5 mb-8 lg:mb-12;
}

/* Footer Section CSS */
.boss-footer-heading {
  @apply text-[22px] lg:text-[32px] text-white mb-[24px] text-center font-medium;
}
.boss-footer-text {
  @apply text-[16px] lg:text-[20px] text-white mb-[10px] text-center font-medium;
}
.boss-footer-icon {
  @apply text-white text-[20px] mt-3 mr-5;
}
.boss-copyright {
  @apply text-[16px] text-white text-center bg-[#151515] py-[17px];
}

/* navbar section css */
.boss-active-link {
  @apply bg-[#BB8506] font-semibold text-sm lg:mr-5;
}
.boss-not-active-link {
  @apply font-semibold text-sm text-black lg:text-white lg:mr-5;
}

/* Category Section */
.boss-category-text {
  @apply text-[12px] lg:text-4xl text-center text-white uppercase -mt-24;
}
.boss-category-image {
  @apply min-h-[405px] min-w-[270px];
}

/* about us section */
.boss-about-title {
  @apply text-4xl text-center font-semibold mb-5;
}
.boss-about-text {
  @apply text-base text-justify;
}

/* Featured Section */
.featured-text {
  @apply text-white text-xl text-justify mb-2;
}
